
.container {
    max-width: 600px;
    border: solid 1px;
    margin: 50px auto;
    padding: 20px;
}


li {
    list-style: none;
}

#now {
    background-color: green;
    color: white;
}

.Submit:hover {
    opacity: 0.3;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.temperature {
    font-size: xx-large;
    margin-bottom: 50px;
}
#fahrenheight-link {
    text-decoration: none;
    cursor: pointer;
}   

#celsius-link {
    text-decoration: none;
    color: black;
    margin-top: 20px;
    cursor: pointer;
}

.units {
    position: relative;
    font-size: 16px;
    top: -20px;
}

.forecast-temperature-min {
    opacity: 0.5;
}
.small {
    color: rgba(39,33,66,.4);
    font-size: 14px;
    line-height: 18px;
    margin-top: 40px;
    text-align: center;
    padding-left:500px;
    padding-top: 200px;
}
